{% load thumbnail %}
<div class="card" data-id="{{ card.id }}">
    <!-- Отображение картинки -->
    <a href="{% url 'group' group_id=card.id %}" class="link">
        {% thumbnail card.image "320x320" crop="center" upscale=True as im %}
        <img src="{{ im.url }}" alt="{{ card.name }}" width="{{ im.width }}" height="{{ im.height}}" class="card__image">
        {% endthumbnail %}
    </a>
    <!-- Отображение названия группы товаров -->
    <div class="card__body">
        <a class="card__title link" href="{% url 'group' group_id=card.id %}">{{ card.title }}</a>
            <ul class="card__items">
                {% for group in card.group.all %}
                    <li class="card__item"><span class="badge badge_style_blue">{{ group.title }}</span></li>
                {% endfor %}
            </ul>
    </div>
</div>
