{% load thumbnail %}
<div class="card" data-id="{{ card.id }}">
    <!-- Отображение названия товара -->
    <div class="card__body">
        <a class="card__title link" href="{% url 'product' product_id=card.id %}">{{ card.name }}</a>
        <a class="card__text">{{ card.mini_description }}</a>
    </div>
    <!-- Отображение картинки -->
    <a href="{% url 'product' product_id=card.id %}" class="link">
        {% thumbnail card.image "240x240" crop="center" upscale=True as im %}
        <img src="{{ im.url }}" alt="{{ card.mini_description }}" width="{{ im.width }}" height="{{ im.height}}" class="card__image">
        {% endthumbnail %}
    </a>

</div>
