{% extends 'base.html' %}
{% block title %}{{ product.name }}{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/single.css' %}">
{% endblock %}

{% block content %}
{% csrf_token %}
{% load thumbnail user_filters %}
    <div class="single-card" data-id="{{ product.id }}" data-author="{{ product.author.id }}">
        {% thumbnail product.image '480x480' upscale=True as im %}
        <img src="{{ im.url }}" alt="{{ card.alt_image }}" width="{{ im.width }}" height="{{ im.height }}" class="single-card__image">
        {% endthumbnail %}
        <div class="single-card__info">
            <div class="single-card__header-info">
                <h1 class="single-card__title">{{ product.name|safe }}</h1>
            </div>
            <div class="single-card__section">
                <p class="single-card__section-text">{{ product.mini_description|safe }}</p>
                <br>
                <p class="single-card__section-text">Цена: уточните у менеджера</p>
            </div>
        </div>
    </div>
<br>
    <div class="tabs">
      <div class="tabs__nav">
        <button class="tabs__btn tabs__btn_active">Описание</button>
        <button class="tabs__btn">Характеристики</button>
      </div>
      <div class="tabs__content">
        <div class="tabs__pane tabs__pane_show">
            <div class="product">
            <a> {{ product.description|safe }} </a>
            <a>
                    {% thumbnail product.image_description_first '1024x768' upscale=True as im %}
                        <img src="{{ im.url }}" alt="{{ alt_image_description_first }}" width="{{ im.width }}" height="{{ im.height }}" class="product__image_big">
                    {% endthumbnail %}
            </a>
            <a>{{ product.description_first|safe }}</a>
            <a>
                    {% thumbnail product.image_description_second '1024x768' upscale=True as im %}
                        <img src="{{ im.url }}" alt="{{ alt_image_description_second }}" width="{{ im.width }}" height="{{ im.height }}" class="product__image_big">
                    {% endthumbnail %}
            </a>
            <a>{{ product.description_second|safe }}</a>
                </div>
        </div>
        <div class="tabs__pane">
            <div class="product">
                <a>{{ product.characteristic|safe }}</a>
                <a>
                        {% thumbnail product.image_characteristic '1024x768' upscale=True as im %}
                            <img src="{{ im.url }}" alt="{{ alt_image_characteristic }}" width="{{ im.width }}" height="{{ im.height }}" class="product__image_big">
                        {% endthumbnail %}
                </a>
            </div>
        </div>
      </div>
      </div>
    </div>



{% endblock %}
{% block javascript %}
    {% load static %}
    <script src="{% static 'js/components/tabs.js' %}"></script>
{% endblock %}
