{% extends 'base.html' %}
{% block title %}{{ product.name }}{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/single.css' %}">
{% endblock %}

{% block content %}
{% csrf_token %}
{% load thumbnail user_filters %}
    <div class="single-card" data-id="{{ product.id }}" data-author="{{ product.author.id }}">
        {% thumbnail product.image '480x480' crop="center" upscale=True as im %}
        <img src="{{ im.url }}" alt="{{ card.description }}" width="{{ im.width }}" height="{{ im.height }}" class="single-card__image">
        {% endthumbnail %}
        <div class="single-card__info">
            <div class="single-card__header-info">
                <h1 class="single-card__title">{{ product.name }}</h1>
            </div>
            <div class="single-card__section">
                <h3 class="single-card__section-title">Описание:</h3>
                <p class="single-card__section-text">{{ product.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {% load static %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/SingleCard.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/singlePage.js' %}"></script>
{% endblock %}