.pagination__item_active {
    color: #FFFFFF;
}
.pagination__item_active:after {
    position: absolute;
    content: '';
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    background: #696969;
    border-radius: 20%;
    width: 26px;
    height: 26px;
}
