.single-card__section-text {
/**
 * Адаптивный размер шрифта (минимальный 8 px, максимальный 16)
 */
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    margin: 0 0 27px;
    padding: 0;
    text-decoration: none;  
}


