.card__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    color: #2F4F4F;
    margin: 0 0 0px;
    padding: 0;
    display: block;
    font-size: 14px;
}
