.footer__brand {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
/**
 * Адаптивный размер шрифта (минимальный 8 px, максимальный 16)
 */
    font-size: calc( (100vw - 480px)/(1280 - 480) * (16 - 8) + 8px);
    line-height: 20px;
    color: #DCDCDC;
}
