.single-card__section-item {
/**
 * Адаптивный размер шрифта (минимальный 8 px, максимальный 14)
 */
    font-size: calc( (100vw - 480px)/(1280 - 480) * (16 - 8) + 8px);
    line-height: 26px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    margin: 0;
    padding: 0;
    width: max-content;
}
