{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'blocks/footer/footer.css' %}">
{% endblock %}


<footer>
    <div class="heads">
        <a href="{% url 'index' %}">© 2022 "ЭКОФУД СПБ"</a>
        <ul>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <li>
                <a href="https://t.me/Olenchuk">
                    <i class="fa fa-telegram" style="font-size:32px;color:rgb(0, 0, 0)"></i>
                </a>
            </li>
                        <li>
                <a href="https://vk.com/ashmanx">
                    <i class="fa fa-vk" style="font-size:32px;color:rgb(0, 0, 0)"></i>
                </a>
            </li>
            <li><a href="{% url 'delivery' %}">Доставка</a></li>
            <li><a href="{% url 'payments' %}">Способы оплаты</a></li>
            <li><a href="{% url 'about-author' %}">О компании</a></li>
            <li><a href="{% url 'contacts' %}">Контакты</a></li>
        </ul>
    </div>
</footer>