{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'blocks/footer/footer.css' %}">
{% endblock %}

<footer class="footer-distributed">

    <div class="footer-left">

      <h3><img src="/static/images/logo.png" alt="ECOFOOD Technik" width=30%></h3>

      <p class="footer-links">
        <a href="{% url 'index' %}">© 2022 "ЭКОФУД СПБ"</a>
        <a href="{% url 'delivery' %}">Доставка</a>
        <a href="{% url 'payments' %}">Способы оплаты</a>
        <a href="{% url 'about-author' %}">О компании</a>
        <a href="{% url 'contacts' %}">Контакты</a>
      </p>

      <p class="footer-links">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <a href="https://t.me/Olenchuk">
                <i class="fa fa-telegram" style="font-size:32px;color:rgb(0, 0, 0)"></i>
        </a>
        <a href="https://vk.com/ashmanx">
                <i class="fa fa-vk" style="font-size:32px;color:rgb(0, 0, 0)"></i>
        </a>
      </p>
      <p class="footer-company-name">ECOFOOD© 2022</p>
    </div>

</footer>