{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'blocks/footer/footer.css' %}">
{% endblock %}

<footer class="footer-distributed">

    <div class="footer-left">

      <p class="footer-links">
        <a href="{% url 'index' %}">© 2022 "Квантовая Кибернетика 1.0"</a>
      </p>

      <p class="footer-links">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <a href="https://t.me/Olenchuk">
                <i class="fa fa-telegram" style="font-size:32px;color:rgb(0, 0, 0)"></i>
        </a>
        <a href="https://vk.com/ashmanx">
                <i class="fa fa-vk" style="font-size:32px;color:rgb(0, 0, 0)"></i>
        </a>
      </p>
      <p class="footer-company-name">Цифровой прорыв 2022</p>
    </div>

</footer>