{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'blocks/header/header.css' %}">
{% endblock %}

<header>
   <div class="anues_udokus">
      <div class="cusion cusion1"></div>
      <div class="cusion cusion2"></div>
      <div class="cusion cusion3"></div>
      </div>
   <div class="keca_sodu">
      <a href="{% url 'about-author' %}">
         <img src="/static/images/logo_3.png" alt="Logo" width=46%>
      </a>
   </div> 
   <a>КВАНТОВАЯ КИБЕРНЕТИКА 1.0</a>

      <nav class="clearfix">
         <ul>
            <li><a href="{% url 'index' %}">ГЛАВНАЯ</a></li>
            <li><a href="{% url 'project' %}">О ПРОЕКТЕ</a></li>
            <li><a href="{% url 'delivery' %}">ТЕХНОЛОГИИ</a></li>
            <li><a href="{% url 'about-author' %}">О КОМАНДЕ</a></li>
               {% if request.user.is_authenticated %}
               <li><a href="{% url 'logout' %}">ВЫХОД</a></li>
                  {% else %}
               <li><a href="{% url 'login' %}">ВОЙТИ</a></li>
            {% endif %}
         </ul>
      </nav>
</header>
 
{% block javascript %}
<script src="{% static 'js/components/pull.js' %}"></script>
{% endblock %}