{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'blocks/header/header.css' %}">
{% endblock %}

<header>
   <div class="anues_udokus">
      <div class="cusion cusion1"></div>
      <div class="cusion cusion2"></div>
      <div class="cusion cusion3"></div>
      </div>
   <div class="keca_sodu">ECOFOOD.RU</div>

      <nav class="clearfix">
         <ul>
            <li><a href="{% url 'index' %}">Каталог</a></li>
            <li><a href="{% url 'delivery' %}">Доставка</a></li>
            <li><a href="{% url 'payments' %}">Способы оплаты</a></li>
            <li><a href="{% url 'about-author' %}">О компании</a></li>
            <li><a href="{% url 'contacts' %}">Контакты</a></li>
               {% if request.user.is_authenticated %}
               <li><a href="{% url 'logout' %}">Выход</a></li>
                  {% else %}
               <li><a href="{% url 'login' %}">Войти</a></li>
            {% endif %}
         </ul>
      </nav>
</header>
 
{% block javascript %}
<script src="{% static 'js/components/pull.js' %}"></script>
{% endblock %}