{% extends 'base.html' %}
{% block title %}Оборудование для производста комбикорма купить в Агропроставке{% endblock %}

{% block styles %}
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'pages/index.css' %}"> -->
{% endblock %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title">Оборудование для производства комбикорма</h1>
        <!-- {% include 'groups.html' %} -->
    </div>
    <h2>Наши преимущества </h2>
        <p> Мы предлагаем свои услуги самым разным фермерским предприятиям, частным лицам, свинокомплексам, птицефабрикам и другим крупным хозяйствам. Компания «АгроПоставка» занимается поставкой специализированных комплексов для изготовления кормосмесей производительностью до 10 тонн в час (включают горизонтальные и вертикальные смесители), электронных и механических устройств для фасовки, созданием бункеров для хранения, мини-грануляторов, автоматизированных линий по производству комбикорма в зависимости от особенностей заказа клиента. К нам обращаются по таким причинам: </p>
        <p> стоимость оборудования для комбикормовых заводов, выставленного на продажу, является доступной; </p>
        <p> реализуем товары только высокого качества, отвечающие всем предъявляемым требованиям; </p>
        <p> произведем доставку точно в срок; </p>
        <p> ответственно подходим к каждому заказу; </p>
        <p> занимаемся монтажом собственной и сторонней техники;</p>
        <p> готовы выполнить заказ любой сложности; </p>
        <p> если у вас есть какие-либо вопросы о продукции для приготовления корма, то наши квалифицированные менеджеры ответят на них, помогут с выбором.</p>
        <p> Обращайтесь к нам, если вас интересует действительно качественное оборудование для производства комбикорма. Мы гарантируем, что вы останетесь довольны нашей продукцией!</p>
    <div class="card-list">
        {% for group in page %}
            {% include 'group_card.html' with group=group %}
        {% endfor %}
    </div>
    <!-- {% include 'paginator.html' with page=page paginator=paginator %} -->
{% endblock %}

{% block javascript %}
    {% load static %}
        <!-- <script src="{% static 'js/components/MainCards.js' %}"></script>
        <script src="{% static 'js/components/Purchpurachases.js' %}"></script>
        <script src="{% static 'js/components/Favorites.js' %}"></script>
        <script src="{% static 'js/components/CardList.js' %}"></script>
        <script src="{% static 'js/components/Header.js' %}"></script>
        <script src="{% static 'js/api/Api.js' %}"></script>
        <script src="{% static 'js/indexAuth.js' %}"></script> -->
{% endblock %}