{% extends 'base.html' %}
{% block title %}
    {% for title in seodata %}{{ title.title }} {% endfor %}
{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title"> {% for h1 in seodata %}{{ h1.h1 }} {% endfor %} </h1>
    </div>

    <div class="main__text">
        <h3> {% for mini_description in seodata %}{{ mini_description.mini_description }} {% endfor %} </h3>
    </div>

    <div class="main__text">
         {% for text in seodata %}{{ text.text }} {% endfor %}
    </div>
        {% load thumbnail %}
    <div class="single-card">
        {% for image in seodata %}
            {% thumbnail image.image '480x480' crop="center" upscale=True as im %}
            <img src="{{ im.url }}" alt={% for mini_description in seodata %}{{ mini_description.mini_description }} {% endfor %} width="{{ im.width }}" height="{{ im.height }}" class="single-card__image">
            {% endthumbnail %}
        {% endfor %}
    </div>
    <div class="main__text">
        <h3 class="main__text">Каталог товаров:</h3>
    </div>
    <div class="card-list">
        {% for card in page %}
            {% include 'product_card.html' with card=card %}
        {% endfor %}
    </div>
    {% include 'paginator.html' with page=page paginator=paginator %}
{% endblock %}

{% block javascript %}
    {% load static %}
        <script src="{% static 'js/components/MainCards.js' %}"></script>
        <script src="{% static 'js/components/CardList.js' %}"></script>
        <script src="{% static 'js/components/Header.js' %}"></script>
        <script src="{% static 'js/api/Api.js' %}"></script>
        <script src="{% static 'js/indexAuth.js' %}"></script>
{% endblock %}