{% extends 'base.html' %}
{% block description %}
    {% for description in seodata %}{{ description.description }} {% endfor %}
{% endblock %}
{% block title %}
    {% for title in seodata %}{{ title.title }} {% endfor %}
{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title"> {% for h1 in seodata %}{{ h1.h1 }} {% endfor %} </h1>
        <br>
        <a class="main__text">Обеспечиваем технический суверенитет</a>
        <br>
        <h2 class="main__text"> {% for mini_description in seodata %}{{ mini_description.mini_description }} {% endfor %} </h2>
        <br>
    <a class="main__text">
         {% for text in seodata %}{{ text.text }} {% endfor %}
    </a>
        <br>
    <a>
        <h2 class="main__text">Каталог товаров:</h2>
    </a>
    </div>
    <div class="card-list">
        {% for card in page %}
            {% include 'product_card.html' with card=card %}
        {% endfor %}
    </div>
    {% include 'paginator.html' with page=page paginator=paginator %}
{% endblock %}